h1 a {
    color: black;
}

h1 a:hover {
    color: grey;
}

#content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Roboto", sans-serif;
}

.boxed {
    padding: 10px;
    border: 2px solid black;
    display: inline-block;
    line-height: 1em;
}

#bm_container {
    display: block;
    margin-top: 1em;
}

.bm {
    display: block;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.bm_commands {
    display: block;
    font-size: 0.7em;
}

.bm_commands a {
    color: #4f4f4f;
}

.bm_commands a:visited {
    color: #4f4f4f;
}

.bm_commands a:hover {
    color:#ed5fe4;
}

.bm_commands a:active {
    color:#34c0eb;
}
	       

a {
    color: #174287;
    text-decoration: none;
}

a:hover {
    color:#ed5fe4;
}

a:active {
    color:#34c0eb;
}

a.bm_title {
    font-size: 1.2em;
}

#tags_container {
    display: block;
    font-size: 0.9em;
    font-style: italic;
    margin: 0 0 0.2em 0;
}

#tags_container a {
    color: #613b3b;
}

#tags_container a:hover {
    color: #c95d5d;
}

#tags_container a:active {
    color: #5dc98a;
}

#date_container {
    color: #6b6b6b;
    font-size: 0.8em;
    margin: 0 0 0.3em 0;
}

#commands_container {
    display: block;
    height: 1em;
    margin-bottom: 0.3em;
    width: 100%;
}

.command_left {
    display: inline;
    text-align: left;
    margin-right: 0.5em;
}

.command_right {
    display: inline;
    float: right;
    margin-left: 0.5em
}

.unread {
    background-color: #d4d4d4;
}
