{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="commands_container">
  <div class="command_left"><a href="{% url 'bookmark_add' %}">add</a></div>
  <div class="command_left"><a href="{% url 'bookmarks_to_read' %}">to read</a></div>
    <div class="command_right"><a href="{% url 'logout' %}">logout</a></div>
    <div class="command_right"><a href="javascript:(function(){data={title:document.title,url:window.location.href,auto_close: true};urlParams=new URLSearchParams(data);newUrl=new URL(&quot;http://dpins.link/add&quot;);newUrl.search = &quot;?+urlParams.toString();window.open(newUrl.toString());})();">bookmarklet</a></div>
    <div class="command_right"><a href="{% url 'import_html' %}">import</a></div>
    <div class="command_right"><a href="{% url 'export_csv' %}">export</a></div>
</div>


<div>
  <form method="get" action="{% url 'search' %}">
    <input type="text" id="query" name="query">
    <input type="submit" value="search">
  </form>
</div>


<div id="bm_container">
  <div id="page_nav">
    {% if bookmarks.has_previous %}
    <a href="?page=1"><<</a>
    <a href="?page={{ bookmarks.previous_page_number }}"><</a>
    {% endif %}

    {% if bookmarks.has_other_pages %}							 
    {{ bookmarks.number }} of {{ bookmarks.paginator.num_pages }}
    {% endif %}

    {% if bookmarks.has_next %}
    <a href="?page={{ bookmarks.next_page_number }}">></a>
    <a href="?page={{ bookmarks.paginator.num_pages }}">>></a>
    {% endif %}
  </div>
  
  {% for bookmark in bookmarks %}
  {% include 'bookmark_snippet.html' with bookmark=bookmark %}
  {% endfor %}

  <div id="page_nav">
    {% if bookmarks.has_previous %}
    <a href="?page=1"><<</a>
    <a href="?page={{ bookmarks.previous_page_number }}"><</a>
    {% endif %}

    {% if bookmarks.has_other_pages %}							 
      {{ bookmarks.number }} of {{ bookmarks.paginator.num_pages }}
    {% endif %}

    {% if bookmarks.has_next %}
    <a href="?page={{ bookmarks.next_page_number }}">></a>
    <a href="?page={{ bookmarks.paginator.num_pages }}">>></a>
    {% endif %}
  </div>
</div>
{% endblock %}
