{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>help</h2>

<p>
  Hello! dpins is my bookmark manager and web archiver. It helps you keep track and download everything that might be meaningful to you. It can download webpages that you like, share, upvote, bookmark, or interact with in anyway. It works with youtube, twitter, facebook, tiktok, and many other websites. But around here we don't really follow the rules that those websites put forward in their tos, so this will never be able to be shared!
</p>
{% endblock %}
