{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>search for: "{{ query }}"</h2>

<form method="get" action="{% url 'search' %}">
  <input type="text" id="query" name="query" value="{{ query }}">
  <input type="submit" value="search">
</form>

<div id="bm_container">
  {% for bookmark in bookmarks %}
  {% include 'bookmark_snippet.html' with bookmark=bookmark %}
  {% endfor %}
</div>

<div id="page_nav">
  {% if bookmarks.has_previous %}
  <a href="?query={{ query }}&page=1"><<</a>
  <a href="?query={{ query }}&page={{ bookmarks.previous_page_number }}"><</a>
  {% endif %}

  {% if bookmarks.has_other_pages %}							 
    {{ bookmarks.number }} of {{ bookmarks.paginator.num_pages }}
  {% endif %}

  {% if bookmarks.has_next %}
  <a href="?query={{ query }}page={{ bookmarks.next_page_number }}">></a>
  <a href="?query={{ query }}page={{ bookmarks.paginator.num_pages }}">>></a>
  {% endif %}
{% endblock %}
